<div class="container">
  <h3>name your survey</h3>
  <form action="/surveys/new" method="post">
    <input type="text" name="name" placeholder="type the name of your survey here" size="50" required><br><br>
    <input type="submit" value="submit">
  <br>
  </form>

</div>
