.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}
nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}


/*Survey Edit*/
body {
  font-family: Arial Rounded MT Bold, sans-serif;
}


.wrapper {
  display: flex; 
  height: 600px;
}

.main {
  width: 600px; 
  height: 400px; 
  margin: auto; 
}

.question_style {
  width:75px;
  text-align: center; 
}
thead > tr {
  text-align: center; 
}
thead td {
  color:green;
}
td {
  padding: 8px;
}

p{
  background-color:lightblue ; 
  text-align: center;

}
.q_button {
  width: 25px;
  height: 25px;
  border-radius: 100%; 
  border: 2px solid black;
  margin: 0 auto;
  text-align: center; 
  visibility: hidden;
}

.q_button_head {
  visibility: hidden;
}

/*.q_button_edit {
  visibility: hidden;
}

.q_button_delete {
  visibility: hidden;
}*/

.edit{
  background-color: rgba(0, 0, 255, 0.2); 
}

.delete{
  background-color: rgba(255, 0, 0, 0.2); 
}


#question_context{

}