<center>
<table width="200">
	<td><form id="radio" method="post">
    <input type="submit" value="Radio">
</form></td>

<td><form id="textbox" method="post">
    <input type="submit" value="Textbox">
</form></td>
</table>
</center>