<center>

<p>What is the style of response for this question?</p>
<table width="200">
	<td><form id="radio" method="post">
    <input class="buttons_3" type="submit" value="Multiple Choice">
</form></td>

<td><form id="textbox" method="post">
    <input class="buttons_3" type="submit" value="Text Response">
</form></td>
</table>
</center>