<div align="center">
	<form action="" method="">
		<table>
			<td><input type = "hidden" name="style"></td>
			<td>Question: <input type="text" name="quest[context]"></td>
		</table>

		<table>
			<tr>
				<td><input type="radio"><input type="text" name="choice[input]"></td>
			</tr>
		</table>
		<p><input type="submit" value="Submit Question"></p>
	</form>

	<form action="" method="">
		<input type="submit" value="Add another choice">
	</form>
</div>
