<div>
	<form id="radio-choice">
		<table>
			<td><input type ="hidden" name="style" value="radio"></td>
			<td>Question: <input type="text" name="context"></td><br>
		</table>

		<table>
			<tr id="choices">
			</tr>
		</table>
		<p><input type="submit" value="Submit Question"></p>
	</form>

	<form id="another-choice" action="" method="">
		<button id ="another-choice" type="submit">Add a choice</button>
	</form>
</div>
