<div>
	<form id="radio-choice">
		<table>
			<td><input type ="hidden" name="style" value="radio"></td>
			<td>Question: <input type="text" name="context" required></td>
		</table>
		<table>
			<tr id="choices">
			</tr>
			<br>
			<br>
		</table>
		<input class="buttons_3" type="submit" value="Submit Question" required>
	</form>
	<br>

	<form id="another-choice" action="" method="">
		Or<br>
		<br><button class="buttons_3" id ="another-choice" type="submit">Add a choice</button>
	</form>
</div>
