<div>
	<form align="center" action="" method="">
		<table align="center">
			<tr>
				<td><input type = "hidden" name="style" value="textbox"></td>
				<td>Question: </td>
				<td><input type="text" name="quest[context]"></td><br>
			</tr>
			<tr>
				<td>Answer: </td>
				<td><input type="text" name="choice[input]" placeholder="Respondents will answer here."></td>
			</tr>
		</table>
		<p><input type="submit" value="Submit Question"></p>
	</form>
</div>
