<div>
	<form id="textbox-choice">
		<table>
			<tr>
				<td><input type = "hidden" name="style" value="textbox"></td>
				<td>Question: <input type="text" name="context"></td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Answer: <input type="text" name="selection[input]" placeholder="Respondents will answer here."></td>
			</tr>
		</table>
		<p><input type="submit" value="Submit Question"></p>
	</form>
</div>
