<div>
	<form align="center" action="" method="">
		<table align="center">
			<tr>
				<td>Question: </td>
				<td><input type="text" name="quest[context]"></td>
			</tr>
			<tr>
				<td>Answer: </td>
				<td><input type="text" name="choice[input]"></td>
			</tr>
		</table>
		<p><input type="submit" value="Submit Question"></p>
	</form>
</div>