<div class="container">
  <h1>New Survey</h1>

  <div id ="submitted-questions"></div>
  <div id ="new-questions"></div>
  <br>
  <br>
  <br>
  <form id="addQuestion" method="post">
    <input type="submit" value="Add a question">
  </form>
  <br>
  <br>

  <div id="question-options">
    <%= erb :'partials/_question_styles' %>
  </div>

  <div id="radio-option">
    <%= erb :'partials/_radio' %>
  </div>

  <div id="text-option">
    <%= erb :'partials/_text' %>
  </div>

</div>
