<div class="container">

<h3>welcome back, <a href='/users/<%= @user.id %>'><%= @user.username %></a>!</h3>
	<p>your surveys are listed below.  select to view survey, edit, and/or view results:</p>
	<ul id = "surveys">
	<% @surveys.each do |survey| %>
		<li><a href='/surveys/<%= survey.id %>/maker'><%= survey.title  %></a></li><br>
		<% end %>
	</ul>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
	<td style="width: 300px"><form action="/surveys/new" method="get">
  <input class="buttons_2" type="submit" value="create new survey">
  </form></td>
  <td style="width: 300px"><a class="buttons_2" id="stats_link" href="/surveys/results">stats for your surveys</a>
  </td>
  </tr>
</table>
</div>
