<div class="container">

<h3>welcome back, <a href='/users/<%= @user.id %>'><%= @user.username %></a>!</h3>
	<p>your surveys are listed below.  select to view survey, edit, and/or view results:</p>
	<ul>
	<% @surveys.each do |survey| %>
		<li><a href='/surveys/<%= survey.id %>'><%= survey.title  %></a></li>
		<% end %>
	</ul>

	<form action="/surveys/new" method="post">
  <input type="submit" value="create new survey">
  <br>
  </form>


</div>
